<%= form_for(current_user.relationships.find_by_followed_id(@user.id), 
             html: { method: :delete },
             remote: true) do |f| %>
  <%= f.submit "Unfollow", class: "btn btn-large" %>
<% end %>
