<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost...", rows: 4 %>
  </div>
  <span>left_chars</span>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
